<!--<div class="col-sm-4 col-lg-4 col-sm-offset-0">
      <div class="well" >
               
          

          <div style="display:block;">
              <canvas  baseChart width="400" height="400"
                          [datasets]="lineChartData"
                          [labels]="lineChartLabels"
                          [options]="lineChartOptions"
                          [colors]="lineChartColors"
                          [legend]="lineChartLegend"
                          [chartType]="lineChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
          </div>

         
     </div>
</div>-->

<div class="col-sm-5 col-lg-6">
     
               

     <div class="panel panel-default panel-body">
        <div>
          <div style="display: block">
              <chart [options]="options"
                (load)="saveInstance($event.context)">
               </chart>
          </div>
         
        </div>
        <!--<div class="btn btn-sm btn-raised" (click)="sendPost()" >Send Post</div>-->
     </div> <!-- end of well -->
     <div class="panel">
       <div class="panel-heading btn btn-primary btn-block">
         <div (click)="changeVisible()" style="font-size:15px;"> <i  class="fa fa-chevron-down fa-fw  " aria-hidden="true"></i>Show Data </div>
       </div>
        <div [@visibilityChanged]="isVisible" >
          <div class="panel-body">
            <p> Selected Client: <span class="label label-default"> {{currentClientC}} </span> 
                &nbsp; &nbsp; Selected Node: <span class="label label-default">{{currentNodeC}} </span>
                &nbsp; &nbsp; Selected Timeframe: <span class="label label-default">{{timeFilterC}} </span> </p>
            <ul>
              <li *ngFor="let record of dataset">Record #: {{record._id}} Client: {{record.client}} TimeStamp: {{record.time}} Node: {{record.node}}</li>
            </ul>
          </div> <!-- end panel body -->
        </div>
     </div> <!-- end panel -->

         
    
</div>

